# Salesforce / SFDX / CCI
.cci
.sfdx
/src.orig
/src
.config
/.cci
/.sfdx

# Python
*.pyc
__pycache__

# Robot Framework results
robot/EnableCustomerAccessToFiles/results/

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings

# Misc
.DS_Store
